spring.application.name=banking
spring.datasource.url=jdbc:h2:mem:capitaldb

springdoc.api-docs.path=/api-docs
springdoc.swagger-ui.operations-sorter=method

jwt.key-store=inholland.p12
jwt.key-store-password=
jwt.key-alias=inholland

ds.cf.turnstile.sitekey=1x00000000000000000000AA
ds.cf.turnstile.secret=1x0000000000000000000000000000000AA
